.tmp.mk
node_modules
yarn-error.log
.idea
.DS_Store
**/flask_session/
test/flask_session
protocols/event_chain/beams/
protocols/event_chain/pipe/
protocols/event_chain/proto/

build/
dist/
forge_event_chain.egg-info/
protocols/event_chain/event_chain/
protocols/event_chain/event_chain/beams/Elixir.ForgeAbi.GeneralTicket.beam

__pycache__/

forge_symposia/.env
